## Типы данных и конструирование признаков

На данный момент мы проанализируем данные adalt.data, для выявления признаков и подсчётов разных статистик. К примеру: какая зп? Кто больше зарабатывает от определенной суммы денег, Имеет ли работник образование и тд.

In [42]:
import pandas as pd
from IPython.display import display
import numpy as np

#import scikit-learn library extensions
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

<script src="https://gist.github.com/roachhd/1f029bd4b50b8a524f3c.js"></script>

In [16]:
# файл не содержит заголовков столбцов, поэтому мы передаем header=None
# и записываем имена столбцов прямо в "names"
data = pd.read_csv("G:/Pproject/ml-intro/data/adult.data", header=None, index_col=False, 
                  names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                         'mariral-status', 'occupation', 'relationship', 'race',
                         'gender', 'capital-gain', 'capital-loss', 'hours-per-week',
                         'native-country', 'income'])
# в целях упрощения мы выберим лишь некоторые столбцы
#data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']]
display(data.head())

,age,workclass,fnlwgt,education,education-num,mariral-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
# проверяем правильность заполнения пола, с помощью количества.
print(data.gender.value_counts())

 Male      21790
 Female    10771
Name: gender, dtype: int64

В библиотеки <span style="color:#42c5f4">pandas</span> имеется очень просто способ кодирвание данных с помощью функции <span style="color:#42c5f4">get_dummies()</span>

In [21]:
print("Исходные признаки: \n", list(data.columns), "\n")
data_dummies = pd.get_dummies(data)
print("Признаки после get_dummies: \n", list(data_dummies.columns))

Исходные признаки:
 ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'mariral-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

Признаки после get_dummies:
 ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'mariral-status_ Divorced', 'mariral-status_ Married-AF-spouse', 'mariral-status_ Married-civ-spouse', 'mariral-status_ Married-spouse-absent', 'mariral-status_ Never-married', 'mariral-status_ Separated', 'mariral-status_ Widowed', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Husband', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'gender_ Female', 'gender_ Male', 'native-country_ ?', 'native-country_ Cambodia', 'native-country_ Canada', 'native-country_ China', 'native-country_ Columbia', 'native-country_ Cuba', 'native-country_ Dominican-Republic', 'native-country_ Ecuador', 'native-country_ El-Salvador', 'native-country_ England', 'native-country_ France', 'native-country_ Germany', 'native-country_ Greece', 'native-country_ Guatemala', 'native-country_ Haiti', 'native-country_ Holand-Netherlands', 'native-country_ Honduras', 'native-country_ Hong', 'native-country_ Hungary', 'native-country_ India', 'native-country_ Iran', 'native-country_ Ireland', 'native-country_ Italy', 'native-country_ Jamaica', 'native-country_ Japan', 'native-country_ Laos', 'native-country_ Mexico', 'native-country_ Nicaragua', 'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru', 'native-country_ Philippines', 'native-country_ Poland', 'native-country_ Portugal', 'native-country_ Puerto-Rico', 'native-country_ Scotland', 'native-country_ South', 'native-country_ Taiwan', 'native-country_ Thailand', 'native-country_ Trinadad&Tobago', 'native-country_ United-States', 'native-country_ Vietnam', 'native-country_ Yugoslavia', 'income_ <=50K', 'income_ >50K']

In [22]:
data_dummies.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [48]:
# берем только те столбцы, которые содержат признаки,
# т.е. все столбцы, начиная с "age" и заканчивая "occupation_ Transport-moving"
# этот диапазон содержит все признаки, кроме целевой переменной
features = data_dummies.loc[:, 'age':'occupation_ Transport-moving']
# извлекаем массивы numpy
X = features.values
y = data_dummies['income_ >50K'].values

print("форма массива X: {} форма массива y: {}".format(X.shape, y.shape))

форма массива X: (32561, 53) форма массива y: (32561,)

Теперь данные представлены в том формате, который компоненты библиотеки scikit-learn умеют обрабатывать, а значит построение модели можно продложить в обычном режиме

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
logreg = LogisticRegression(solver='lbfgs')
logreg.fit(X_train, y_train)
print("Правильность на тестовом наборе: {:.2f}".format(logreg.score(X_test, y_test)))

Правильность на тестовом наборе: 0.80

Функция get_dummies в pandas обрабатывает все числа как непрерывные значения и не будет создавать дамми-переменные для них. Описание проблемы ниже.

In [56]:
# создаём дата-фрейм с признаком, который принимает 
# целочисленные значения, и категориальным признаком, значения которого являются строками
demo_df = pd.DataFrame({'Целочисленный признак': [0,1,2,1],
                        'Категориальный признак': ['socks', 'fox', 'socks', 'box']})
display(demo_df)

   Целочисленный признак Категориальный признак
0                      0                  socks
1                      1                    fox
2                      2                  socks
3                      1                    box

In [57]:
# Функция get_dummies закодирует лишь строковые признак,
# тогда как целочисленный признак оставит без изменений
pd.get_dummies(demo_df)

,Целочисленный признак,Категориальный признак_box,Категориальный признак_fox,Категориальный признак_socks
0,0,0,0,1
1,1,0,1,0
2,2,0,0,1
3,1,1,0,0

Если создать дамми-переменные и для столбца *Целочисленный признак*, то можно явно указать столбцы, которые нужно закодировать, с помощью параметра columns. И тогда оба признака будут обработаны как категориальные переменные.

In [58]:
demo_df['Целочисленный признак'] = demo_df['Целочисленный признак'].astype(str)
pd.get_dummies(demo_df, columns=['Целочисленный признак', 'Категориальный признак'])

,Целочисленный признак_0,Целочисленный признак_1,Целочисленный признак_2,Категориальный признак_box,Категориальный признак_fox,Категориальный признак_socks
0,1,0,0,0,0,1
1,0,1,0,0,1,0
2,0,0,1,0,0,1
3,0,1,0,1,0,0